name: Build and Deploy
on: [push]
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '18.x'  # 원하는 버전으로 변경하세요
            - name: Checkout
              uses: actions/checkout@main
            - run: node -v
            - name: Vuepress deploy
              uses: jenkey2011/vuepress-deploy@v1
              env:
                  ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
                  BUILD_SCRIPT: yarn && yarn build
                  TARGET_BRANCH: gh-pages
                  BUILD_DIR: .vitepress/dis
